# Ambiente virtual Python
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars

# Variáveis de ambiente (segurança)
.env
.env.*

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
